.card {
    width: 75%;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
}

.image {
    overflow: hidden;
    height: 200px;
}

.content {
    margin: 1rem;
    margin-top: .5rem;
    height: 10%;
}

h2, p {
    margin: 0;
    padding: 0;
}

.title {
    margin-bottom: .5rem;
    height: 25%;
}